In [96]:
import pandas as pd

In [118]:
r_WW = pd.read_csv('F:/Prjoects/BTC/04 US daily stock market prediction/Sources Collected/Trend/BTC Trend worldWide.csv',header=1)
r_US = pd.read_csv('F:/Prjoects/BTC/04 US daily stock market prediction/Sources Collected/Trend/BTC Trend US.csv',header=1)
r_GR = pd.read_csv('F:/Prjoects/BTC/04 US daily stock market prediction/Sources Collected/Trend/BTC Trend Germany.csv',header=1)
r_UAE = pd.read_csv('F:/Prjoects/BTC/04 US daily stock market prediction/Sources Collected/Trend/BTC Trend UAE.csv',header=1)
r_dubai = pd.read_csv('F:/Prjoects/BTC/04 US daily stock market prediction/Sources Collected/Trend/BTC Trend Dubai.csv',header=1)

In [119]:
r_US.drop(['Month'], axis = 1, inplace=True)
r_GR.drop(['Month'], axis = 1, inplace=True)
r_UAE.drop(['Month'], axis = 1, inplace=True)
r_dubai.drop(['Month'], axis = 1, inplace=True)

In [136]:
df = pd.concat([r_WW, r_US, r_GR, r_UAE, r_dubai],axis=1)

In [137]:

to = ['date','worldwide', 'unitedstates', 'Germany', 'UAE', 'Dubai']

# df[to] = df

df = df.set_axis(to,axis = 1)
to.remove('date')
df[to].replace('<1',0,inplace=True)


df.to_csv('Scripts out/Google Trend.csv')

C:\Users\hussam\AppData\Local\Temp\ipykernel_22928\843118955.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[to].replace('<1',0,inplace=True)

In [124]:
df.head()

      date worldwide unitedstates Germany UAE Dubai
0  2004-01         1           <1       3   0     0
1  2004-02         1           <1       2   0     0
2  2004-03         1           <1       2   0     0
3  2004-04         1           <1       1   0     0
4  2004-05         1           <1       1   0     0

In [102]:
df['Bitcoin: (Worldwide)'].unique()

array(['1', '<1', '3', '8', '2', '4', '11', '12', '10', '7', '5', '6',
       '17', '16', '14', '21', '23', '24', '40', '100', '60', '43', '20',
       '13', '15', '9', '19', '22', '72', '18', '26', '35', '67', '69',
       '51', '54', '70', '34', '36', '41', '37', '38', '47', '27', '39',
       '46', '28', '33', '31', '30'], dtype=object)